.movieSlider {
  margin-bottom: 30px;
}
.movieSlider h2 {
  margin: 0 0 0 30px;
}
.movieSlider--linearea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieSlider--list {
  width: 90000px;
}
.movieSlider--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}
.movieSlider--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.movieSlider--item img:hover {
  transform: scale(1);
}
.movieSlider--left,
.movieSlider--right {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieSlider:hover .movieSlider--left,
.movieSlider:hover .movieSlider--right {
  opacity: 1;
}
.movieSlider--left {
  left: 0;
}
.movieSlider--right {
  right: 0;
}
