:root {
  --center: center;
  --flex: flex;
  --wrap: wrap;
}
.footer {
  background-color: #141414;
}
.footer-container {
  display: var(--flex);
  justify-content: space-around;
  overflow: hidden;
  font-size: 1rem;
  flex-wrap: var(--wrap);
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer--contato {
  padding: 10px;
}
.footer--contato p {
}
.footer--about-icons {
  display: var(--flex);
  gap: 30px;
  align-items: var(--center);
  justify-content: space-between;
  flex-wrap: var(--wrap);
}
.footer--about-icons a {
  font-size: 1.8rem;
}
.footer-credits {
  text-align: var(--center);
  display: flex;
  align-items: var(--center);
  flex-wrap: var(--wrap);
  justify-content: space-around;
  background-color: #111111;
  padding: 20px 0;
}
.footer-credits a {
  position: relative;
}
.footer-credits a::after {
  content: "";
  height: 3px;
  border-radius: 4px;
  width: 0%;
  display: block;
  transition: all ease 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-credits a#netflix::after {
  background-color: #fd2631;
}
.footer-credits a#dev::after {
  background-color: #842cf0;
}
.footer-credits a#b7web::after {
  background-color: #1694e2;
}
.footer-credits a#tmdb::after {
  background-color: #8fe9d8;
}
.footer-credits a:hover::after {
  width: 100%;
}
.footer-credits #b7web:hover {
  color: #0071b7;
}
.footer-credits #dev:hover {
  color: #711cdb;
}
.footer-credits #netflix:hover {
  color: #e50914;
}
.footer-credits #tmdb:hover {
  color: #67c6b5;
}
@media (max-width: 1637px) {
  .footer-credits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .footer-credits {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
 
}
